<p id="notice"><%= notice %></p>

<h1>Adms</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adms.each do |adm| %>
      <tr>
        <td><%= adm.user %></td>
        <td><%= link_to 'Show', adm %></td>
        <td><%= link_to 'Edit', edit_adm_path(adm) %></td>
        <td><%= link_to 'Destroy', adm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adm', new_adm_path %>
