<p id="notice"><%= notice %></p>

<h1>Salas de Bate Papo</h1>

<% if user_signed_in? %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ativa</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.descricao %></td>
        <td><%= sala.ativa %></td>
        <td><%= sala.adm.user.name %></td>
        <td><%= link_to 'Entrar', sala %></td>
        <td><%= link_to 'Editar', edit_sala_path(sala) %></td>
        <td><%= link_to 'Deletar', sala, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Sala', new_sala_path %>

<% else %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ativa</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.descricao %></td>
        <td><%= sala.ativa %></td>
        <td><%= sala.adm.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>
