<p id="notice"><%= notice %></p>
<div align="center">
<h1>Salas de Bate Papo</h1>
</div>
<% if user_signed_in? %>
<div align="center">
<table class="table table-striped" >
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ativa</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.descricao %></td>
        <td><%= formatar_boolean(sala.ativa) %></td>
        <td><%= sala.adm.user.nome %></td>
        <td><%= link_to 'Entrar', sala, :class => 'btn btn-outline-primary btn-sm' %>
        <%= link_to 'Editar', edit_sala_path(sala), :class => 'btn btn-outline-primary btn-sm' %>
        <% if current_user.id == sala.adm.user.id %>
        <%= link_to 'Deletar', sala, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-outline-primary btn-sm' %>
        <% else %>
         ::Deletar:: </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><%= link_to 'Nova Sala', new_sala_path, :class => 'btn btn-primary btn-sm' %></strong>
</div>

<% else %>

<div align="center">
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ativa</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.descricao %></td>
        <td><%= formatar_boolean(sala.ativa) %></td>
        <td><%= sala.adm.user.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>
</div>