<!DOCTYPE html>
<html>
  <head>
    <title>BatePapo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= link_to "Home", root_path, :class => 'brand' %>
          <ul class="nav">
              <% if user_signed_in? %>
                Logado como:&nbsp; <strong><%= current_user.nome %></strong>. &nbsp;
                <%= link_to 'Editar', edit_user_registration_path, :class => 'navbar-link' %>&nbsp; || &nbsp;
                <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                &nbsp; <%= Time.now.strftime("%d/%m/%Y - %H:%M:%S") %>
              <% else %>
                <%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %>&nbsp; || &nbsp;
                <%= link_to "Logar", new_user_session_path, :class => 'navbar-link'  %>
              <% end %>
          </ul>
        </div>
      </nav>

    </header>
  <div class="page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>


      <footer></br>
        <p>&copy; JeanLima & IgorSilva 2018</p>
      </footer>

    </div> <!-- /container -->
  </div>

  </body>
</html>
